#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:


*   List of Data Science tools
*   List of libraries for Data science 
*   List of Data science Languages
*   Sample Python code for math

Some of the popular languages that Data Scientists use are:
<ol>
  <li>Python</li>
  <li>Java</li>
  <li>R</li>
  <li>SQL</li>
  <li>Ruby</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li> Panda </li>
<li> Numpy </li>
<li> Seaborn </li>
<li> Keras </li>
<li> Big DL </li>

|Data Science Tools|
------------
Spyder
Jupyter Notebooks
R Studio
Zeppelin

###Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200//60

3

##Author
Houn Rithyseth